%h1 Hello Haml :)

= link_to 'New Recipe', new_recipe_path , class: "btn btn-primary"
%hr

- @recipes.each do |recipe|
 = link_to recipe do
  = image_tag recipe.image.url(:medium)
  %h2= link_to recipe.title, recipe


